@import url(https://fonts.googleapis.com/css?family=Space+Mono:400,500,700);

:root {
  /*Primary Color*/
  --clr-strong-cyan: hsl(172, 67%, 45%);
  --clr-error-orange: hsl(32, 85%, 56%);

  /*Neutral*/
  --clr-vdark-cyan: hsl(183, 100%, 15%);
  --clr-dgrayish-cyan-43: hsl(186, 14%, 43%);
  --clr-dgrayish-cyan-56: hsl(184, 14%, 56%);
  --clr-lgrayish-cyan-84: hsl(185, 41%, 84%);
  --clr-lgrayish-cyan-97: hsl(189, 41%, 97%);
  --clr-white: hsl(0, 0%, 100%);

  --fs-body: 12px;
  --fs-input: 24px;
  --ff-primary: "Space Mono", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-lgrayish-cyan-84);
  font-size: var(--fs-body);
  font-family: var(--ff-primary);
  height: 100vh;
}

.block {
  display: block;
}

.highlight {
  color: var(--clr-white);
}

.result-label {
  color: var(--clr-dgrayish-cyan-43);
}

.input-label {
  color: var(--clr-vdark-cyan);
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.radio input {
  display: none;
}

.radio .checkmark {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--clr-vdark-cyan);
  color: var(--clr-white);
  border-radius: 0.2em;
  font-size: var(--fs-input);
}

.radio input:checked + .checkmark {
  background: var(--clr-strong-cyan);
}

.error-message {
  display: none;
  width: 100%;
  color: var(--clr-error-orange);
}

main {
  display: flex;
  flex-flow: column;
  height: 100%;
  max-height: 100%;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.paper {
  background: var(--clr-white);
  border-radius: 1em;
  width: 90%;
  padding: 2em;
}

form {
  width: 100%;
  height: 100%;
}

form .form-grid {
  display: grid;
  grid-template-rows: 350px minmax(0 1fr);
  grid-template-columns: auto;
  gap: 2em;
}

#result {
  background: var(--clr-vdark-cyan);
  border-radius: 1em;
  padding: 1em;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

#result .result-group {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 1em;
}

#result .result-group .output {
  font-size: var(--fs-input);
  color: var(--clr-strong-cyan);
}

#result #reset {
  flex: 1 1 100%;
  font-size: var(--fs-input);
  background: var(--clr-dgrayish-cyan-43);
  outline: none;
  border: none;
  color: var(--clr-vdark-cyan);
  font-family: inherit;
}

#result #reset:hover {
  background: var(--clr-strong-cyan);
}

.input-group {
  position: relative;
}

.input {
  outline: none;
  border: none;
  background: var(--clr-lgrayish-cyan-97);
  font-size: var(--fs-input);
  text-align: right;
  padding: 0.2rem;
  font-family: inherit;
  font-weight: 700;
  color: var(--clr-vdark-cyan);
  width: 100%;
}

input:focus {
  box-shadow: 0 0 3px var(--clr-strong-cyan);
}

input.error {
  box-shadow: 0 0 3px var(--clr-error-orange);
}

input.error + .error-message {
  display: inline-block;
  width: 100%;
  margin-top: 0.5em;
}

.input-group {
  position: relative;
}

.input-group .input-prefix {
  position: absolute;
  left: 1em;
  width: 2em;
  height: calc(var(--fs-input) * 1.9);
}

.input-group .input-prefix.dollar {
  background: url(../images/icon-dollar.svg) center/16px 16px no-repeat;
}

.input-group .input-prefix.person {
  background: url(../images/icon-person.svg) center/16px 16px no-repeat;
}

header {
  width: 100%;
  min-height: 100px;
  background: url(../images/logo.svg) bottom/50px 50px no-repeat;
}

#controls {
  display: grid;
  gap: 1.5em;
  grid-template-columns: auto;
}

.btn-grp {
  display: grid;
  grid-template-columns: repeat(2, minmax(48px, 1fr));
  grid-template-rows: repeat(3, minmax(24px, 1fr));
  gap: 1em;
}

@media screen and (min-width: 450px) {
  .paper {
    width: min(80%, 800px);
  }

  form .form-grid {
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  #controls {
    display: grid;
    gap: 1.5em;
    max-height: 30%;
  }

  .btn-grp {
    display: grid;
    grid-template-columns: repeat(3, minmax(24px, 1fr));
    grid-template-rows: repeat(2, minmax(48px, 1fr));
    gap: max(0, 1em);
  }

  #result {
    justify-content: flex-start;
  }

  #result > * {
    flex: 1 1 100%;
  }

  #result #reset {
    align-self: flex-end ;
  }
}
