@import url("https://fonts.googleapis.com/css?family=Inter:400,700");
@import url("https://fonts.googleapis.com/css?family=Lexend+Deca:400");

:root {
  --clr-primary-very-dark-blue: hsl(233, 47%, 7%);
  --clr-primary-desat-blue: hsl(244, 38%, 16%);
  --clr-primary-accent-violet: hsl(277, 64%, 61%);

  --clr-neutral-white: hsl(0, 0%, 100%);
  --clr-neutral-tx-white-75: hsla(0, 0%, 100%, 0.75);
  --clr-neutral-tx-white-60: hsla(0, 0%, 100%, 0.6);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-primary-very-dark-blue);
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
}

.container {
  margin: 1em 1em;
}

.card {
  border-radius: 5px;
  background-color: var(--clr-primary-desat-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  color: var(--clr-neutral-white);
}

.image {
  background: url(../images/image-header-desktop.jpg) center/cover;
  width: 100%;
  height: 200px;
  position: relative;
  border-radius: 10px 10px 0 0;
}

.image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr-primary-accent-violet);
  opacity: 0.589;
  border-radius: 10px 10px 0 0;
}

.content header h1 {
  padding: 1em;
}

.content header h1 span {
  color: var(--clr-primary-accent-violet);
}

.content .details {
  color: var(--clr-neutral-tx-white-60);
  font-size: 0.9em;
  line-height: 1.5;
}

.content .stats {
  text-transform: uppercase;
  padding: 2em;
}

.content .stats .stat {
  padding: 0.5em;
}

.content .stats .stat .stat-header {
  font-weight: 700;
  color: var(--clr-neutral-white);
}

.content .stats .stat .stat-category {
  font-size: 0.6em;
  color: var(--clr-neutral-tx-white-60);
}

@media screen and (min-width: 450px) {
  body {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .container {
    max-width: 1000px;
    height: 350px;
  }

  .card {
    flex-direction: row-reverse;
    height: 100%;
    margin: 1em;
  }

  .image {
    background: url(../images/image-header-desktop.jpg) center/cover;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 0 10px 10px 0;
  }

  .image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--clr-primary-accent-violet);
    border-radius: 0 10px 10px 0;
  }

  .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2em 2em;
  }

  .content header h1 {
    font-size: 1.8em;
    padding: 0;
    text-align: left;
  }

  .content .details {
    font-size: 1em;
  }

  .content .stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-block: 2em 0;
    margin-right: 2em;
  }
}
